@{
    ViewData["Title"] = "Home Page";

    double amount = 10;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<form action="/Contact/Charge" method="POST">
    <article>
        <label>Amount: $5.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="@Stripe.Value.PublishableKey" data-locale="auto" data-description="Sample Charge" data-amount=@(amount*150)>
    </script>
</form>

@*<form action="/Payment/Charge" method="POST">
        <article>
            <label>Amount: $5.00</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@ViewBag.StripePublishKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="500">
        </script>
    </form>*@